<ion-content>
  <div class="mainDiv">
    <section class="backButtonSection">
      <ion-icon name="arrow-back" style="font-size: 18px"></ion-icon>
    </section>
    <section appHeading>
      Profile
      <span style="padding-left: 2%">
        <ion-icon name="pencil"></ion-icon>
      </span>
    </section>
  </div>
  <div class="edit-item-div">
    <app-edit-profile-card *ngFor="let config of editable" [cardConfig]='config' (onChangeInput)="onChangeInputValue($event)"></app-edit-profile-card>
  </div>
</ion-content>
