<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="heading">
    <ion-searchbar
      style="width: 90%"
      placeholder=" Quick Search"
    ></ion-searchbar>
  </div>
  <section>
    <hr style="background-color: #f8f4f5; height: 2px; width: 95%" />
  </section>
  <span class="smallHeading">Lets Chat</span>
  <section>
    <hr style="background-color: #f8f4f5; height: 2px; width: 95%" />
  </section>
  <div class="list" *ngFor="let conatct of UsersOnApp">
    <div class="listiteams">
      <section
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
        "
      >
        <section style="display: flex; width: 100%; height: 100%">
          <section>
            <ion-avatar>
              <ion-img src="/assets/chats/user.jfif"> </ion-img>
            </ion-avatar>
          </section>
          <section
            style="
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding-left: 16px;
            "
          >
            <section>
              <span class="username"
                >{{conatct.mobileData._objectInstance.displayName}}</span
              >
            </section>
            <section>
              <span class="userNumber"
                >{{conatct.mobileData._objectInstance.phoneNumbers[0].value}}</span
              >
            </section>
          </section>
        </section>
        <section>
          <hr style="background-color: #f05d81; height: 2px; width: 95%" />
        </section>
      </section>
    </div>
  </div>
  <div class="userNotOnApp">
    <section>
      <hr style="background-color: #f8f4f5; height: 2px; width: 95%" />
    </section>
    <span class='smallHeading' >Invite</span>
    <section>
      <hr style="background-color: #f8f4f5; height: 2px; width: 95%" />
    </section>
    <div class="list" *ngFor="let conatct of UsersNotonApp">
      <div class="listiteams">
        <section
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
          "
        >
          <section style="display: flex; width: 100%; height: 100%">
            <section>
              <ion-avatar>
                <ion-img src="/assets/chats/user.jfif"> </ion-img>
              </ion-avatar>
            </section>
            <section
              style="
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 16px;
              "
            >
              <section>
                <span class="username"
                  >{{conatct.mobileData._objectInstance.displayName}}</span
                >
              </section>
              <section>
                <span class="userNumber"
                  >{{conatct.mobileData._objectInstance.phoneNumbers[0].value}}</span
                >
              </section>
              
            </section>
            <section style="width: 100%;">
              <div style="display: flex; justify-content: flex-end;">
                <ion-button color="primary" (click)="inviteOthers()"> Invite</ion-button>
              </div>
             
            </section>
          </section>
          <section>
            <hr style="background-color: #f05d81; height: 2px; width: 95%" />
          </section>
        </section>
      </div>
    </div>
  </div>
</ion-content>
