<ion-header>
  <ion-toolbar>
    <div class="mainToolBarDiv">
      <section class="avtarToolBardiv">
        <section class="backSection">
          <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
          </ion-buttons>
        </section>
        <section class="PicAndname">
          <section class="avatarInnerSection">
            <ion-avatar class="avatarImage">
              <img
                [src]="chatingUser?.profileImage?chatingUser?.profileImage:'/assets/chats/user.jfif'"
              />
            </ion-avatar>
          </section>
          <section class="spanDiv">
            <span style="color: white; margin-left: 2%">
              {{chatingUser?.first_name|titlecase}}
            </span>
          </section>
        </section>
      </section>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainDiv">
    <section class="chatSection" #chatSection>
      <section *ngFor="let chat of chats">
        <section
          class="textFromActiveUser"
          *ngIf="chat.sender === activateUser.id" appLongPress (longPress)="onLongHold()"
        >
          <section class="textFromActiveUserMessage">
            <span class="message"> {{chat.message}} </span>
          </section>
          <section class="avatarActiveChattingSection">
            <ion-avatar class="avatarImage">
              <img
                [src]="chatingUser?.profileImage?chatingUser?.profileImage:'/assets/chats/user.jfif'"
              />
            </ion-avatar>
          </section>
        </section>
        <section
          class="textFromOtherUser"
          *ngIf="chat.sender != activateUser.id"
        >
          <section class="avatarOtherChattingSection">
            <ion-avatar class="avatarImage">
              <img
                [src]="chatingUser?.profileImage?chatingUser?.profileImage:'/assets/chats/user.jfif'"
              />
            </ion-avatar>
          </section>
          <section class="textFromOtherUserMessage">
            <span class="message"> {{chat.message}} </span>
          </section>
        </section>
      </section>
    </section>
    <section class="inputSection">
      <ion-item>
        <ion-input
          type="text"
          placeholder="Enter Your Message..."
          color="light"
          [(ngModel)]="message"
          (keyup.enter)="sendMessage()"
        >
        </ion-input>
        <div slot="end">
          <span
            [class]="message==='' ?'unactiveSend':'activeSend'"
            (click)="sendMessage()"
          >
            Send
          </span>
        </div>
      </ion-item>
    </section>
  </div>
</ion-content>
