ion-content {
  padding: 0px !important;
  margin: 0px !important;
}
.mainToolBarDiv {
  width: 100%;
  height: 100%;
  display: flex;
}
.avtarToolBardiv {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.backSection {
  margin: 0 1%;
}
.PicAndname {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avatarImage {
  width: 40px;
  height: 40px;
}
.spanDiv {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 2%;
}
.avatarInnerSection {
  height: 100%;
  display: flex;
  align-items: center;
}
.mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputSection {
  width: 100%;
  background-color: rgb(41, 38, 38);
  border-radius: 10px;
  min-height: 7%;
}
ion-item {
  --background: rgb(41, 38, 38);
  border-radius: 20px;
}
.unactiveSend {
  color: rgb(131, 46, 105);
}
.activeSend {
  color: rgb(255, 87, 205);
}
.chatSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}
.textFromActiveUser{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 5%;
  
}
.textFromActiveUserMessage{
  margin-right:1%;
  background-color: rgb(245, 3, 172);
  padding: 2%;
  max-width: 70%;
  border-radius: 10px;
}
.message{
  color: white;
}
.avatarActiveChattingSection{
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 2%;
}
.avatarOtherChattingSection{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 2%;
}
.textFromOtherUserMessage{
  margin-left:1%;
  background-color: rgb(85, 4, 117);
  padding: 2%;
  max-width: 70%;
  border-radius: 10px;
}
.textFromOtherUser{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 5%;
}