<ion-content>
  <div class="imageDiv">
    <ion-img src="assets/images/icon.png" class="img"></ion-img>
  </div>
  <div class="cardDiv">
    <ion-card>
      <ion-card-content>
        <div class="loginheading">
          <span style="color: white; font-size: 20px; margin-left: 2%"
            >Reset Password</span
          >
        </div>
        <form #f="ngForm" (ngSubmit)="OnForgotPassword(f)">
          <div>
            <ion-item>
              <ion-label position="floating" style="color: white"
                >Email</ion-label
              >
              <ion-input
                required
                type="text"
                style="color: white"
                ngModel
                name="email"
              ></ion-input>
            </ion-item>
          </div>
          <div class="btnDiv">
            <ion-button type="submit" color="primary" [disabled]="f.invalid">
              Send OTP</ion-button
            >
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
